<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Giant</title>
  <link rel="shortcut icon" type="image/png" href="images/gl7.png"/>
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  {% include responsive-nav.html %}
  <div class="container">
    {% include nav.html %}
    {{content}}
    {% include footer.html %}
  </div>
  <script src="main.js"></script>
</body>
</html>
